//Colors Variables
$color-white: #fff;
$color-gray: #fcfcfc;
$color-cyan: #808080;
$color-cyan-dark: #f3f3f3;
$color-cyan-light: #5f5f5f;
//overwritten by site.json -> theme -> primary_color if set
$color-primary: #2a59e5;
$color-primary-light: mix($color-primary, $color-white, 85%);
$color-primary-dark: mix($color-primary, $color-white, 12%);
$color-gray-light: mix($color-primary, $color-white, 2%);
$color-gray-dark: mix($color-primary, $color-white, 6%);
//overwritten by site.json -> theme -> secondary_color if set
$color-secondary: #fffbf3;
$color-secondary-light: mix($color-primary, $color-white, 16%);
$color-secondary-dark: #f7f8fa;
//overwritten by site.json -> theme -> anchor_color if set
$color-anchor: #ffba08;
$color-anchor-dark: mix($color-anchor, $color-white, 30%);
//overwritten by site.json -> theme -> background_effects_color if set
$color-background-effects: #faaa8f;
